<h1>メモの新規作成</h1>
<form action="/new" method="post">
        <input type="hidden" name="id" value="<%= SecureRandom.hex(10) %>">
        <label for="title">タイトル</label>
        <input type="text" name="title">
        <p></p>
        <label for="content">本文</label>
        <textarea type="text" name="content" rows="10" clos="60"></textarea>
        <button type="submit">保存</button>
        <a href="/">キャンセル</a>
</form>