<p>タイトル　：<%= @memo.field("title") %></p>

<%= @memo.field("content") %>

<p><a href="/">一覧に戻る</a> | 編集 | 
<form method="post" action="/memo/<%= @memo.field("id") %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="削除">
</form></p>